@using QLBangHangA.Extentions;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   var cart = ViewContext.HttpContext.Session.GetObjectFromJson<ShoppingCart>("Cart");

}
<header class="header ">
    <div class="container-fluid pe-2 ps-2">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a asp-area="" asp-controller="home" asp-action="index" ><img src="~/assets/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li><a asp-area="" asp-controller="home" asp-action="index">Trang chủ</a></li>
                        <li><a asp-area="" asp-controller="shop" asp-action="index">Cửa hàng</a></li>
                        <li><a asp-area="" asp-controller="blog" asp-action="index">Bài viết</a></li>
                        <li><a asp-area="" asp-controller="contact" asp-action="index">Liên hệ</a></li>
                        
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        <partial name="_LoginPartial"/>
                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        <li>
                            <a asp-controller="shoppingCart" asp-area="" asp-action="index">
                                <span class="icon_bag_alt"></span>
                                @if (@cart?.Items != null)
                                {
                                    <div class="tip">
                                        @cart?.Items.Count()
                                    </div>
                                    
                                }
                                else
                                {
                                    <div class="tip">
                                        0
                                    </div>

                                }
                               
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>

@section Scripts {
}