@using QLBangHangA.Models.Entities;
@using PagedList.Core.Mvc;

@{
    Layout = "_Layout.cshtml";
}
@section Styles{
    <style>
        .pagination__option a.active {
            background: #0d0d0d;
            border-color: #0d0d0d;
            color: #ffffff;
        }
    </style>
}
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="row">
                    <form asp-controller="shop" asp-action="search">
                        <div class="col-12 col-lg-12 m-0 p-2">
                            <input class="form-control" id="query" name="query" type="search" placeholder="Tìm kiếm sản phẩm" arial-label="Search" />
                        </div>

                        <div style="float: right" class=" col-3 col-lg-3 mr-2  p-2">
                            <button id="productSearch" class="btn btn-outline-secondary bg-gray text-black " type="submit">Tìm</button>
                        </div>
                    </form>
                </div>

                @await Html.PartialAsync("_SidebarCategoryPartialView.cshtml")
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row" id="records_list">
                    @RenderBody()
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
