@model QLBangHangA.Models.Entities.ProductVariant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductVariant</h4>
<hr />
<div class="row">
    
        <form asp-action="Create" asp-route-productId="@ViewBag.Product.ProductId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <div class="form-group row">
                    <div class="form-group">
                        <label class="control-label">Tên thông số</label>
                        <input readonly value="@ViewBag.Product.ProductName" class="form-control" />
                    </div>
                    <input readonly hidden asp-for="ProductId" value="@ViewBag.Product.ProductId" class="form-control" />


                    <div class="form-group mt-3  col-sm-6">
                        <label class="col-form-label">Số lượng :</label>
                        <div class="">
                            <input type="number" class="form-control" asp-for="Quantity" placeholder="Số lượng" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>

                        </div>
                    </div>
                    
                    <div class="form-group mt-3  col-sm-6">
                        <label class=" col-form-label" for="productCategories">Size:</label>
                        <div>
                            <select class="form-select  color-dropdown" asp-for="SizeId" asp-items="ViewBag.BangSize">
                                <option disabled selected>Chọn size</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group mt-3  col-sm-6">
                        <label class=" col-form-label" for="productCategories">Màu:</label>
                        <div>
                            <select class="form-select  color-dropdown" asp-for="ColorId" asp-items="ViewBag.BangMau">
                                <option disabled selected>Chọn màu</option>

                            </select>
                        </div>
                    </div>            
                </div>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
   
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

