<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="sendform">
        
        <h2>Xác thực tài khoản</h2>
        <p>Dear, {{name}} !</p>
        <p>Bạn cũng có thể ấn vào đây để xác thực tài khoản: <a href="{{link}}">Xác minh tài khoản</a></p>
        
        <footer class="footer">
            <div class="breakline"></div>
            <p class="footer__text"><b>© 2024 nhtshop.vn, All Rights Reserved.</b></p>
        </footer>
    </div>
</body>

</html>