@model QLBangHangA.Models.Entities.ApplicationUser
@{
    ViewData["Title"] = "Delete";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
            <a asp-area="admin" asp-controller="home" asp-action="Index">Trang chủ</a>
        </li>
        <li class="breadcrumb-item"><a asp-area="admin" asp-controller="adminProduct" asp-action="Index">Danh sách người dùng</a></li>
        <li class="breadcrumb-item active">Xóa tài khoản : @Model.FullName</li>
    </ol>
</nav>

<div class="card mb-2">
    <div class="d-flex align-items-center justify-content-between ">
        <div class="d-flex align-items-center">
            <img class="object-fit-cover border rounded" src="~/images/products/@Model.ProfilePicture" width="120" height="90" />
            <h5 class=" m-4"><strong>@Model.FullName</strong> </h5>
        </div>
    </div>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between ">
            <div class="d-flex align-items-center">
                <label class="col-form-label">Email:</label>
                <h5 class=" m-4"><strong>@Model.UserName</strong> </h5>
            </div>
        </div>
    </div>
</div>
<form asp-action="Delete" asp-controller="adminAccount" asp-area="admin" asp-route-id="@Model.Id" enctype="multipart/form-data" class="card-body">
    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <div class="col-sm-10 mt-4">
        <button type="submit" class="btn btn-danger">Xóa tài khoản</button>
        <a class="btn btn-secondary" asp-controller="adminAccount" asp-action="Index">Quay lại</a>
    </div>
</form>

